﻿@using LapTrinhHienDai_128_178_474.Models
@{
    ViewBag.Title = "Hoàn tất thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var khachSan = ViewBag.KhachSanMuonDat as KhachSan;
    var donDatPhong = Session["DonDatPhong"] as DonDatPhong;
}


<h2><span>@User.Identity.Name</span>, cảm ơn bạn đã hoàn tất việc đặt phòng</h2>
<p>Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất ^^</p>
<div style="margin:auto;text-align:center">
    <img src="../../Images/Emotes-face-smile-big-icon.png" alt="" />
</div>
