﻿@using LapTrinhHienDai_128_178_474.Models
@{
    ViewBag.Title = "Hoàn tất thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var khachSan = ViewBag.KhachSanMuonDat as KhachSan;
    var donDatPhong = Session["DonDatPhong"] as DonDatPhong;
}

<div class="vcard a">
    <h2 class="fn org">Khách sạn @khachSan.TenKhachSan</h2>
    <p class="adr"><span>@khachSan.DiaChi</span></p>
    @if (khachSan.HangKhachSan == 5){
        <p class="rating-a f">5/5</p>
    }
    else if (khachSan.HangKhachSan == 4){
        <p class="rating-a e">4/5</p>
    }
    else{
        <p class="rating-a d">3/5</p>
    }
</div>
<form id="content" action="@Url.Action("HoanTatThanhToan","ThanhToan")" method="post" class="form-e">
    <fieldset class="cols-d">
        <div>
            <h3>Thông tin đặt phòng</h3>
            <h4 class="scheme-g">Bạn hãy lựa chọn hình thức thanh toán</h4>
            <span style="font-size:12px">*Lưu ý: bạn phải xem lại thông tin đặt phòng trước khi quyết định thanh toán</span>
            <p class="link-c" style="float:left">
                <button type="submit" style="background: #0094ff">Thanh toán khi nhận phòng</button>
                <button type="button">Thanh toán qua Paypal</button>
            </p>
        </div>
        <aside>
            <h3>Thông tin phòng</h3>
            <h4 class="scheme-g">Thông tin phòng</h4>
            <ul class="list-c">
                @foreach (ChiTietDatPhong ct in donDatPhong.ChiTietDatPhong.ToList())
                {
                    <li><span>@ct.TenLoaiPhong <span style="color:#fc5b42">x @ct.SoLuong</span></span> @ct.GiaTien VNĐ</li>
                }
            </ul>
            <h4 class="scheme-g">Thời gian nhận trả phòng</h4>
            <ul class="list-c">
                <li><span>Ngày nhận phòng</span>@donDatPhong.NgayNhanPhong</li>
                <li><span>Ngày trả phòng</span>@donDatPhong.NgayTraPhong</li>
            </ul>
            <h4 class="scheme-g">Tổng tiền</h4>
            <p class="scheme-h"><span>@donDatPhong.TongTien</span><span>VNĐ</span></p>
        </aside>
    </fieldset>
</form>
