﻿<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - Cổng đặt phòng khách sạn trực tuyến</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/aTourist/styles/screen.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/Content/aTourist/styles/print.css" media="print">
    <link rel="shortcut icon" href="~/Content/aTourist/favicon.ico" type="image/x-icon">
    <script src="~/Content/aTourist/javascript/head.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Content/aTourist/javascript/jquery-ui.min.js"></script>
    <script src="~/Content/aTourist/javascript/mobile.js"></script>
    <script src="~/Content/aTourist/javascript/scripts.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/zebraDatepicker/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/zebraDatepicker/javascript/zebra_datepicker.js"></script>
    <link href="~/Content/aTourist/styles/aTouristCustom.css" rel="stylesheet" />
    <script src="~/Content/aTourist/javascript/date.js"></script>
    <script src="~/Content/jquery-ui-1.9.2.custom/development-bundle/ui/jquery.ui.spinner.js"></script>
    <link href="~/Content/jquery-ui-1.9.2.custom/development-bundle/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1.9.2.custom/development-bundle/themes/base/jquery.ui.spinner.css" rel="stylesheet" />
    <script src="~/Content/gMap3/gmap3.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <style>
        .gmap3 {
            margin: 5px auto;
            border: 1px dashed #C0C0C0;
            width: 600px;
            height: 400px;
        }
    </style>
</head>
<body>
    <!--Facebook comment plugin-->
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1&appId=238348192998990";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="root">
        <header id="top">
            <h1><a href="./" accesskey="h"></a></h1>
            <nav id="skip">
                <ul>
                    <li><a href="#nav" accesskey="n">Skip to navigation (n)</a></li>
                    <li><a href="#content" accesskey="c">Skip to content (c)</a></li>
                    <li><a href="#footer" accesskey="f">Skip to footer (f)</a></li>
                </ul>
            </nav>
            <nav id="nav">
                <ul class="primary">
                    <li><a accesskey="1" href="@Url.Action("Index","Home")">Trang chủ</a> <em>(1)</em></li>
                    <li><a accesskey="2" href="index-b.html">Khuyến mãi</a> <em>(2)</em></li>
                    <li><a accesskey="3" href="#">Phổ biến</a> <em>(3)</em>
                        <ul>
                            <li class="active"><a href="index.html">Khách sạn Hà Nội</a></li>
                            <li><a href="index-b.html">Khách sạn TP.HCM</a></li>
                            <li><a href="hotel-list.html">Khách sạn Đà Nẵng</a></li>
                            <li><a href="index.html">Khách sạn Quảng Ngãi</a></li>
                            <li><a href="index-b.html">Khách sạn Tây Ninh</a></li>
                            <li><a href="hotel-list.html">Khách sạn Vũng Tàu</a></li>
                        </ul>
                    </li>
                    <li><a accesskey="4" href="contact.html">Giới thiệu</a> <em>(7)</em></li>
                    <li><a accesskey="5" href="contact.html">Liên hệ</a> <em>(7)</em></li>
                </ul>
                @if (!Request.IsAuthenticated)
                {
                    <p class="link-a">
                        <a href="/Account/Login" id="loginLink">Đăng nhập</a>
                        <a href="/Account/Register" id="registerLink">Đăng kí</a>
                    </p>
                }
                else
                {
                    <p class="link-a">
                        <span style="margin-right: 20px; text-shadow: none">Xin chào, @User.Identity.Name !</span>
                        <a href="@Url.Action("Manage", "Account")">Quản lý tài khoản</a>
                        <a href="@Url.Action("LichSuDatPhong","Hotel")">Lịch sử đặt phòng</a>
                        <a href="javascript:LogOut()">Đăng xuất</a>
                        <script type="text/javascript">
                            function LogOut() {
                                $("#logOutForm").submit();
                            }
                        </script>
                    </p>
                    <form action="/Account/LogOff" method="post" id="logOutForm" hidden="hidden">
                        @Html.AntiForgeryToken()
                    </form>    
                }
            </nav>
            <form action="./" method="post" id="search">
                <fieldset>
                    <legend>Search</legend>
                    <p>
                        <label for="sa">Search</label>
                        <input type="text" id="sa" name="sa" required>
                        <button type="submit">Submit</button>
                    </p>
                </fieldset>
            </form>
            @*<p class="tel">SĐT Liên hệ <span>0168-5182-775</span></p>*@
        </header>
        @RenderBody()
        <footer id="footer">
            <nav>
                <div class="vcard">
                    <h3>Liên hệ <span class="fn org">Hệ thống đặt phòng trực tuyến</span></h3>
                    <ul class="list-a">
                        <li><span>SĐT: </span> <span class="tel">0168 5182 775</span></li>
                        <li><span>Email: </span> <a class="email">nguyenphitriet//gmail/com</a></li>
                        <li class="adr"><span>Đ/c:</span> <span class="street-address">227 Nguyễn Văn Cừ, Quận 5</span>, <span class="locality">Tp Hồ Chí Minh</span></li>
                    </ul>
                </div>
                <div>
                    <h3>Hỗ trợ khách hàng</h3>
                    <ul>
                        <li><a href="./">Các phương thức thanh toán</a></li>
                        <li><a href="./">Hỏi đáp</a></li>
                        <li><a href="./">Chính sách bảo mật</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Thông tin</h3>
                    <ul>
                        <li><a href="./">Quản lý tài khoản</a></li>
                        <li><a href="./">Sơ đồ website</a></li>
                        <li><a href="./">Lịch sử đặt phòng</a></li>
                    </ul>
                </div>
                <form action="./" method="post">
                    <fieldset>
                        <legend>Nhận tin</legend>
                        <p>Đăng kí nhận tin tức mới nhất từ hệ thống</p>
                        <p>
                            <label for="na">Điền email của bạn</label>
                            <input type="email" id="na" name="na" required>
                            <button type="submit">Đăng kí</button>
                        </p>
                    </fieldset>
                </form>
            </nav>
            <p>Bản quyền &copy; <span class="date">2013</span>. All rights reseved <a href="./">Hệ thống đặt phòng trực tuyến</a></p>
            <ul id="social">
                <li class="rs"><a rel="external" href="./">RSS</a></li>
                <li class="tw"><a rel="external" href="./">Twitter</a></li>
                <li class="fl"><a rel="external" href="./">Flickr</a></li>
                <li class="fb"><a rel="external" href="./">Facebook</a></li>
            </ul>
        </footer>
    </div>
    <script src="http://wwww.maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry&amp;language=en"></script>
    @*<script type="text/javascript">
        head.js('Content/aTourist/javascript/jquery.min.js', 'Content/aTourist/javascript/jquery-ui.min.js', 'Content/aTourist/javascript/scripts.js', 'Content/aTourist/javascript/mobile.js')
    </script>*@
</body>
</html>
