﻿/*custom css*/
input.date {
    border: 1px solid #808080;
    height: 24px;
    margin-right: 5px;
    text-align: center;
    /*font-family: 'Comic Sans MS', cursive;
    color: #f45036;*/
}

select.customSelect {
    height: 24px;
    width: 50px;
    font-size: 12px;
    border: 1px solid #808080;
    vertical-align: central;
}

/*.date-z:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.form-c .date-z {
    padding-bottom: 8px;
}*/

input.customBtn {
    background-color: white;
    border: 2px solid #808080;
    width: 150px;
    height: 40px;
    font-weight: bold;
}
