﻿@model IEnumerable<LapTrinhHienDai_128_178_474.Models.BinhLuan>

@foreach (var comment in Model)
{
    <article>
        <h4 style="font-size: 12px">@comment.NguoiBinhLuan <span>(@comment.ThoiGian)</span></h4>
        <h4 style="color: #ff5f46">@comment.TieuDe</h4>
        <p>@comment.NoiDung</p>
    </article>
}