﻿@model LapTrinhHienDai_128_178_474.Models.KhachSan
@{
    ViewBag.Title = "Chi tiết khách sạn " + @Model.TenKhachSan;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using LapTrinhHienDai_128_178_474.Models
@{
    List<LoaiPhong> loaiPhongs = ViewBag.LoaiPhongs;
}

<script type="text/javascript">
    $(function () {
        $('#banDoDiv').gmap3({
            marker: {
                address: "@Html.Raw(Model.DiaChi)"
            },
            map: {
                options: {
                    zoom: 15
                }
            }
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $("input.spinner").spinner({ min: 0 });
    });
</script>


<script type="text/javascript">
    function CapNhatPhongTrong(MaLoaiPhong, NgNhan, NgTra) {
        $.ajax({
            url: "http://localhost:55113/api/Sheraton/SoPhongTrong/",
            type: 'GET',
            data: {
                "MaLoaiPhong": MaLoaiPhong,
                "NgayNhanPhong": NgNhan,
                "NgayTraPhong": NgTra
            },
            success: function (data) {
                //set giá trị max cho số phòng muốn đặt = số phòng trống tối đa
                $("input[name=" + MaLoaiPhong + "]").val(1); //số phòng mặc định là 1
                $("input[name=" + MaLoaiPhong + "]").spinner("option", "max", parseInt(JSON.stringify(data)));
                $("#" + MaLoaiPhong + "").text("Còn " + JSON.stringify(data) + " phòng");
            },
            error: function (request, status, error) {
                //alert("Đã có lỗi khi cập nhật phòng trống, bạn vui lòng thử lại sau");
            }
        });
    }
</script>

<nav id="breadcrumbs">
    <ul>
        <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
        <li><a href="./">Khách sạn</a></li>
        <li><a href="./">@ViewBag.CityName</a></li>
        <li>@Model.TenKhachSan</li>
    </ul>
</nav>
<section id="content" class="cols-a">
    <article class="vcard">
        <header class="module-a">
            <h2 class="fn org">@Model.TenKhachSan</h2>
            @if (Model.HangKhachSan == 5)
            {
                <p class="rating-a f">3/5</p>
            }
            else if (Model.HangKhachSan == 4)
            {
                <p class="rating-a e">3/5</p>
            }
            else
            {
                <p class="rating-a d">3/5</p>
            }
            <p class="link"><a href="./">Return</a></p>
            <p class="addthis_toolbox addthis_default_style addthis_16x16_style"><span>Share:</span> <a class="addthis_button_email"></a><a class="addthis_button_facebook"></a><a class="addthis_button_twitter"></a></p>
        </header>
        <div class="slider-a">
            <figure>
                <img src="~/Content/aTourist/temp/693x283.gif" alt="Placeholder" width="693" height="283">
            </figure>
            <figure>
                <img src="~/Content/aTourist/temp/693x283.gif" alt="Placeholder" width="693" height="283">
            </figure>
            <figure>
                <img src="~/Content/aTourist/temp/693x283.gif" alt="Placeholder" width="693" height="283">
            </figure>
        </div>
        <div class="tabs-a">
            <ul>
                <li>Giới thiệu</li>
                <li>Loại phòng</li>
                <li>Bình luận</li>
                <li>Địa điểm du lịch</li>
            </ul>
            <div>
                <div>
                    <p>@Model.GioiThieu</p>
                    <br />
                    <h4 style="text-decoration: underline">Giờ nhận, trả phòng</h4>
                    <ul class="list-b">
                        <li><span>Giờ check-in:</span> 12:00 am</li>
                        <li><span>Giờ check-out:</span> 02:00 pm</li>
                    </ul>
                    <h4 style="text-decoration: underline">Địa chỉ</h4>
                    <p class="adr"><span class="street-address">@Model.DiaChi</span></p>
                    <p class="tel">(+844) 93 668 2236</p>
                    <p><a rel="external" class="url" href="http://seratonvietnam.com">www.seratonvietnam.com</a></p>
                    <div id="banDoDiv" class="gmap3"></div>
                </div>
                <div>
                    <h4>Danh sách phòng của khách sạn</h4>
                    <hr />
                    <script type="text/javascript">
                        $(document).ready(function ($) {
                            //dateJS
                            $('#ngNhanPhong').val(new Date.today().toString("dd/MM/yyyy"));
                            $('#ngTraPhong').val(new Date.today().addDays(1).toString("dd/MM/yyyy"));
                            //zebra Datepicker
                            $('#ngNhanPhong').Zebra_DatePicker({
                                direction: true,
                                pair: $('#ngTraPhong'),
                                format: 'd/m/Y',
                                show_clear_date: false,
                                inside: false
                            });
                            $('#ngTraPhong').Zebra_DatePicker({
                                direction: [1, 30], //chỉ được đặt phòng trong thời gian tối đa 30 ngày
                                format: 'd/m/Y',
                                show_clear_date: false,
                                inside: false
                            });
                            //cập nhật phòng trống
                            var NgNhan = $("#ngNhanPhong").val();
                            var NgTra = $("#ngTraPhong").val();
                            CapNhatPhongTrong("normal", NgNhan, NgTra);
                            CapNhatPhongTrong("vip", NgNhan, NgTra);
                        });
                    </script>
                    <form action="@Url.Action("Index", "ThanhToan")" method="post">
                        @Html.Hidden("MaKhachSan", Model.MaKhachSan)
                        <p>
                                Ngày nhận phòng: 
                            <input id="ngNhanPhong" name="NgayNhanPhong" class="date" type="text" value="" />
                            <span style="padding-left:20px">
                                Ngày trả phòng:
                            <input id="ngTraPhong" name="NgayTraPhong" class="date" type="text" value="" />
                            </span>
                        </p>
                        <p>
                            Số ngày ở: 
                            <select class="customSelect" id="soNgayO" style="width: 60px" onchange="CapNhatNgay()">
                                @for (int i = 1; i <= 30; i++)
                                {
                                    <option>@i</option>
                                }
                            </select>
                            <span>(ngày)</span>
                            <script type="text/javascript">
                                function CapNhatNgay() {
                                    //cập nhật ngày
                                    var soNgayO = $("#soNgayO").val();
                                    var ngNhanPhong = $("#ngNhanPhong").val();
                                    $('#ngTraPhong').val(new Date.parse(ngNhanPhong).addDays(soNgayO).toString("dd/MM/yyyy"));
                                    var ngTraPhong = $("#ngTraPhong").val();
                                    //cập nhật số phòng trống
                                    CapNhatPhongTrong("normal", ngNhanPhong, ngTraPhong);
                                    CapNhatPhongTrong("vip", ngNhanPhong, ngTraPhong);
                                    //thông báo
                                    alert("Đã cập nhật lại số phòng trống từ ngày " + ngNhanPhong + " đến ngày " + ngTraPhong);
                                }
                            </script>
                        </p>
                        <table style="border: none">
                            <tr>
                                <td style="font-weight: bold">Tên phòng</td>
                                <td style="font-weight: bold">Số người tối đa</td>
                                <td style="font-weight: bold">Giá tiền<span style="font-size: 11px">/đêm</span></td>
                                <td style="font-weight: bold">Số lượng trống</td>
                                <td style="font-weight: bold">Chọn số phòng</td>
                            </tr>
                            @foreach (var loaiPhong in loaiPhongs)
                            {
                                <tr>
                                    <td>@loaiPhong.TenLoaiPhong.Trim()</td>
                                    <td>@loaiPhong.SoNguoiToiDa người</td>
                                    <td>@loaiPhong.GiaTien <span style="font-size: 11px; font-weight: bold">VNĐ</span></td>
                                    <td id="@loaiPhong.MaLoaiPhong.Trim()"></td>
                                    <td>
                                        <input name="@loaiPhong.MaLoaiPhong.Trim()" type="text" class="spinner" style="width:50px;text-align:center" />
                                        <span>(phòng)</span>
                                    </td>
                                </tr>
                                @Html.Hidden("GiaPhong" + loaiPhong.MaLoaiPhong.Trim(), loaiPhong.GiaTien)
                            }
                        </table>
                        <input type="submit" value="Thanh toán" class="customBtn" style="float: right" />
                    </form>
                    <div style="clear: both"></div>
                </div>
                <div>
                    <div>
                        @if(Request.IsAuthenticated)
                        {
                            using (Ajax.BeginForm("AddComment", "Hotel", null, new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.InsertBefore,
                                UpdateTargetId = "divComments",
                                OnSuccess = "ShowSuccess()",
                                OnFailure = "ShowFailure()"
                            }, new { @class = "form-f" }))
                            {
                                <fieldset>
                                    <legend style="z-index: 8;">Bình luận với tên @User.Identity.Name</legend>
                                    <p style="z-index: 7;">
                                        <label for="fcc">Lựa chọn đánh giá của bạn</label>
                                        <select class="customSelect" style="width: 170px" name="CommentRating">
                                            <option value="4">Hài lòng</option>
                                            <option value="2">Không hài lòng</option>
                                            <option value="5">Rất hài lòng</option>
                                            <option value="1">Rất không hài lòng</option>
                                            <option value="3">Tạm được</option>
                                        </select>
                                    </p>
                                    <p style="z-index: 4;">
                                        <label for="ffc">Nhập nội dung bình luận, bạn còn <span style="color: #f00" id="textleft">160</span> kí tự</label>
                                        <textarea style="width: 95%; background-color: white" id="giftmsg"
                                            name="CommentContent"
                                            placeholder="Bình luận phải tối thiểu 20 kí tự, tối đa 160 kí tự"></textarea>
                                    </p>
                                    <p>
                                        <input type="hidden" value="@Model.MaKhachSan" name="HotelId"/>
                                    </p>
                                    <p style="z-index: 4;">
                                        <button style="float: left" type="submit">Đăng bình luận</button>
                                    </p>
                                </fieldset>
                                <script type="text/javascript">
                                    function ShowSuccess() {
                                        $("#giftmsg").html("");
                                        alert("Đăng bình luận thành công!");
                                    }
                                    function ShowFailure() {
                                        alert("Không thể đăng bình luận, bạn vui lòng thử lại sau");
                                    }
                                </script>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#giftmsg').keypress(function (event) {
                                            var max = 160;
                                            var len = $(this).val().length;
                                            if (event.which < 0x20) {
                                                return;
                                            }
                                            if (len >= max) {
                                                event.preventDefault();
                                            }
                                        });
                                        $('#giftmsg').keyup(function (event) {
                                            var max = 160;
                                            var len = $(this).val().length;
                                            var char = max - len;
                                            $('#textleft').text(char);
                                        });
                                    });
                                </script>
                            }
                        }
                        else
                        {
                            <h4>Bạn phải <a href="@Url.Action("Login", "Account", new {returnUrl = "../Hotel/Detail/" + Model.MaKhachSan })">đăng nhập</a> để bình luận</h4>
                            <br />
                        }
                        <h3>Danh sách bình luận (<span id="soBinhLuan" title="Số bình luận của khách sạn" style="color: #f9573e">@Model.BinhLuan.Count()</span>)</h3>
                        <hr />
                        <div id="divComments" style="overflow: auto; height: 300px">
                            @{
                                var _Comments = Model.BinhLuan.OrderByDescending(m => m.MaBinhLuan).ToList();
                                Html.RenderAction("CommentList", "Hotel", new { Comments = _Comments });  
                            }
                        </div>
                        <div style="clear:both"></div>
                        <br />
                        <br />
                        <h3>Bình luận từ người dùng <span style="color:#f9573e">Facebook</span></h3>
                        <div class="fb-comments" data-href="" data-numposts="5" data-colorscheme="light" style="width:700px;">

                        </div>
                    </div>
                </div>
                <div>
                    <h2>Địa điểm du lịch ở @Model.ThanhPho1.TenThanhPho</h2>
                    <hr />
                    <div style='overflow: auto; width: 99%; height: 800px;'>
                        @Html.Raw(ViewBag.NoiDungRutTrich)
                    </div>
                </div>
            </div>
        </div>
    </article>
    <aside style="width:220px;margin:4px auto">
        <p class="scheme-a">
            @Model.DiaChi
        </p>
        <p class="scheme-b">Giá phòng từ <span>@Model.GiaTien.000 VNĐ <span>/ Đêm</span></span></p>
        @Html.Partial("SearchForm")
        <div style="clear:both"></div>
    </aside>
</section>
s