﻿
@model LapTrinhHienDai_128_178_474.Helpers.PagedData<LapTrinhHienDai_128_178_474.Models.KhachSan>
@{
    var count = 1;   
}

@*div chứa hình động thể hiện việc đang load khách sạn*@
@*<div id="loadingDiv" style="text-align:center; margin-top:10px; margin-bottom: 10px">
    <img src="~/Content/aTourist/img/loading.GIF" />
</div>*@


@functions {
    public string ShortenString(string text, int length)
    {
        // If text in shorter or equal to length, just return it
        if (text.Length <= length)
        {
            return text;
        }

        // Text is longer, so try to find out where to cut
        char[] delimiters = new char[] { ' ', '.', ',', ':', ';' };
        int index = text.LastIndexOfAny(delimiters, length - 3);

        if (index > (length / 2))
        {
            return text.Substring(0, index) + "...";
        }
        else
        {
            return text.Substring(0, length - 3) + "...";
        }
    }
}


@foreach (var hotel in Model.Data)
{
    var index = 8 * (Model.CurrentPage - 1) + count; //5 là số kết quả mặc định cho 1 trang tìm kiếm
    count++;
    <article>
        <header>
            <h2><a href="../Hotel/Detail?Id=@hotel.MaKhachSan">@hotel.TenKhachSan</a></h2>
            <figure>
                <img src="~/Content/aTourist/temp/128x102.gif" alt="Placeholder" height="102" width="128">
                <figcaption>@String.Format("{0:D2}",index)</figcaption>
            </figure>
            @if (hotel.HangKhachSan == 5){
                <p style="font-weight:bold"><span class="rating-a f" title="Khách sạn 5 sao" >0/5</span>@hotel.DiaChi</p>
            }
            else if (hotel.HangKhachSan == 4){
                 <p style="font-weight:bold"><span class="rating-a e" title="Khách sạn 4 sao">0/5</span>@hotel.DiaChi</p>
            }
            else{
                 <p style="font-weight:bold"><span class="rating-a d" title="Khách sạn 3 sao">0/5</span>@hotel.DiaChi</p>
            }
            <div class="fit-a"></div>
        </header>
        <p>@ShortenString(hotel.GioiThieu,200)</p>
        <p class="scheme-d a"><span>$</span>900 <span class="a"><span>$</span>600</span> <a href="./">Book</a></p>
        <footer>
            @if (hotel.DanhGia == 5)
            {
                <p title="Điểm đánh giá 5/5">Đánh giá người dùng<span class="rating-b f">0/5</span></p>
            }
            else if (hotel.DanhGia == 4)
            {
                <p title="Điểm đánh giá 4/5">Đánh giá người dùng<span class="rating-b e">0/5</span></p>
            }
            else
            {
                <p title="Điểm đánh giá 3/5">Đánh giá người dùng<span class="rating-b d">0/5</span></p>
            }
            <p class="link-b"><a href="@Url.Action("Detail", "Hotel", new {Id = hotel.MaKhachSan })">Xem chi tiết</a></p>
        </footer>
    </article>
}

<footer>
    <nav class="pagination-a">
        <p>Trang @Model.CurrentPage trên @Model.NumberOfPages</p>
        <ol>
            @for (int i = 1; i <= Model.NumberOfPages; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="active"><a class="page-number" href="javascript:void();">@String.Format("{0:D2}",i)</a></li>
                }
                else
                {
                    <li><a class="page-number" href="javascript:void();">@String.Format("{0:D2}",i)</a></li>
                }
            }
        </ol>
    </nav>
</footer>
