﻿@using LapTrinhHienDai_128_178_474.Models;
@{
    ViewBag.Title = "Lịch sử đặt phòng của " + User.Identity.Name;
    Layout = "~/Views/Shared/_oldLayout.cshtml";

    var lichSuDatPhong = ViewBag.LichSuDatPhong as IEnumerable<DonDatPhong>;
    PortalEntities dbContext = new PortalEntities();
}

<h2>Lịch sử đặt phòng của @User.Identity.Name</h2>

@if (lichSuDatPhong == null || lichSuDatPhong.Count() == 0)
{
    <p>Bạn chưa đặt phòng trên hệ thống! <a href="@Url.Action("Index", "Home")">Quay lại trang chủ</a></p>
    <div style="float: left;">
        <img src="../../Images/Emotes-face-smile-big-icon.png" alt="" />
    </div>   
}
else
{
    int count = 1;
    foreach (var donDatPhong in lichSuDatPhong)
    {
        var khachSan = dbContext.KhachSan.Find(donDatPhong.MaKhachSan);
        <p>@count. Khách sạn được đặt: <span style="color:red">@khachSan.TenKhachSan.Trim()</span> - Địa chỉ: <span style="color:red">@khachSan.DiaChi</span></p>
        <p> Thời gian: @donDatPhong.ThoiGianDat.ToString() </p>
        <p>
            Ngày nhận phòng: <input type="text" style="width:100px" value="@donDatPhong.NgayNhanPhong" />
            <span style="margin-left:20px">Ngày trả phòng: <input type="text" style="width:100px" value="@donDatPhong.NgayTraPhong" /></span>
        </p>
        <ul>
        @foreach (var chiTiet in donDatPhong.ChiTietDatPhong)
        {
            <li>@chiTiet.TenLoaiPhong (x @chiTiet.SoLuong) - Giá tiền: @chiTiet.GiaTien VNĐ</li>
        }
        <li>Tổng tiền: <span style="color:red">@donDatPhong.TongTien VNĐ</span></li>
        </ul>
        <hr />
        count++;
    }
}

