﻿@{
    ViewBag.Title = "Trang tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Phân trang AJAX*@
<script type="text/javascript">
    $().ready(function () {
        //$("#loadingDiv").hide();
        $(".page-number").live("click", function () {
            var pageIndex = parseInt($(this).html());
            $.ajax({
                url: '@Url.Action("HotelList", "Hotel")',
                data: { "City": '@ViewBag.CityCode', "page": pageIndex, "sortBy": "NAME" },
                success: function (data) {
                    $("#divHotels").html(data);
                    $('html, body').animate({ scrollTop: $('#divHotels').offset().top - 10 }, 'fast');
                }
            });
        });
    });
</script>

@*Sắp xếp khách sạn*@
<script type="text/javascript">
    function SortHotels() {
        var sortBy = jQuery("#sortBy").val();
        var isInProgress = false;
        if (!isInProgress) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("HotelList", "Hotel")',
                data: { "City": '@ViewBag.CityCode', "page": 1, "sortBy": sortBy },
                beforeSend: function () {
                    isInProgress = true;
                    //$("#loadingDiv").show();
                },
                success: function (data) {
                    $("#divHotels").html(data);
                    isInProgress = false;
                    //$("#loadingDiv").hide();
                }
            });
        }
    }
</script>

<nav id="breadcrumbs">
    <ul>
        <li><a href="../Home/Index">Trang chủ</a></li>
        <li><a href="./">Khách sạn</a></li>
        <li><a href="./">@ViewBag.CityName</a></li>
        <li>Kết quả tìm kiếm</li>
    </ul>
</nav>
<article id="content" class="cols-c">
    <div>
        <div class="slider-a">
            <figure class="image-b">
                <img src="~/Content/aTourist/temp/693x276.gif" alt="Placeholder" width="693" height="276">
                <figcaption>Paris Eurostar Breaks</figcaption>
            </figure>
            <figure class="image-a">
                <img src="~/Content/aTourist/temp/693x276(1).gif" alt="Placeholder" width="693" height="276">
                <figcaption>Paris Eurostar Breaks <span>Curabitur fringilla mauris interdum nec magna</span> <span>From $350</span></figcaption>
            </figure>
            <figure>
                <img src="~/Content/aTourist/temp/693x276(2).gif" alt="Placeholder" width="693" height="276">
            </figure>
        </div>
        <form action="./" method="post" class="module-b">
            <p class="select-b">
                <label for="mba">Sắp xếp theo: </label>
                <select id="sortBy" name="mba" style="width: 180px" onchange="SortHotels()">
                    <option value="CATEGORY">Hạng khách sạn</option>
                    <option value="PRICE">Giá khách sạn</option>
                    <option value="RATING">Đánh giá</option>
                    <option value="NAME">Tên khách sạn</option>
                </select>
            </p>
        </form>
        <div class="news-a" id="divHotels">
            @Html.Partial("HotelList")
        </div>
    </div>
    <aside>
        @Html.Partial("SearchForm")
        <form action="./" method="post" class="form-d">
            <fieldset>
                <legend>Refine search result</legend>
                <div class="accordion-a">
                    <h3 class="active">Price Range</h3>
                    <div>
                        <div class="bar-a"></div>
                    </div>
                    <h3 class="active">Star Rating</h3>
                    <div>
                        <div class="bar-b"></div>
                    </div>
                    <h3 class="active">Accommodations Type</h3>
                    <div>
                        <ul class="check-d">
                            <li>
                                <label for="cda">
                                    <input type="checkbox" id="cda" name="cda">
                                    Apartments</label></li>
                            <li>
                                <label for="cdb">
                                    <input type="checkbox" id="cdb" name="cdb">
                                    Hotels</label></li>
                            <li>
                                <label for="cdc">
                                    <input type="checkbox" id="cdc" name="cdc">
                                    Gest House</label></li>
                            <li>
                                <label for="cdd">
                                    <input type="checkbox" id="cdd" name="cdd">
                                    Bed &amp; Breakfast</label></li>
                            <li>
                                <label for="cde">
                                    <input type="checkbox" id="cde" name="cde">
                                    Apartments</label></li>
                            <li>
                                <label for="cdf">
                                    <input type="checkbox" id="cdf" name="cdf">
                                    Farm Stay</label></li>
                        </ul>
                    </div>
                    <h3 class="active">Hotel Facilities</h3>
                    <div>
                        <ul class="check-d">
                            <li>
                                <label for="cdg">
                                    <input type="checkbox" id="cdg" name="cdg">
                                    Wifi</label></li>
                            <li>
                                <label for="cdh">
                                    <input type="checkbox" id="cdh" name="cdh">
                                    Parking</label></li>
                            <li>
                                <label for="cdi">
                                    <input type="checkbox" id="cdi" name="cdi">
                                    Airport Shuttle</label></li>
                            <li>
                                <label for="cdj">
                                    <input type="checkbox" id="cdj" name="cdj">
                                    Restaurant</label></li>
                            <li>
                                <label for="cdk">
                                    <input type="checkbox" id="cdk" name="cdk">
                                    Family rooms</label></li>
                            <li>
                                <label for="cdl">
                                    <input type="checkbox" id="cdl" name="cdl">
                                    Pay TV</label></li>
                        </ul>
                    </div>
                    <h3>Hotel Theme</h3>
                    <div>
                        <p>Hotel Theme</p>
                    </div>
                    <h3>Accessibility Options</h3>
                    <div>
                        <p>Accessibility Options</p>
                    </div>
                    <h3>Payment Options</h3>
                    <div>
                        <p>Payment Options</p>
                    </div>
                </div>
                <p class="submit">
                    <button type="reset">Reset all</button>
                </p>
            </fieldset>
        </form>
    </aside>
</article>

