﻿@model LapTrinhHienDai_128_178_474.Models.BinhLuan

<article>
    <h4>@Model.NguoiBinhLuan <span>(@Model.ThoiGian)</span></h4>
    <h4 style="color: #ff5f46">@Model.TieuDe</h4>
    <p>@Model.NoiDung</p>
</article>
