﻿@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#date1').val(new Date.today().toString("dd/MM/yyyy"));
        $('#date2').val(new Date.today().addDays(1).toString("dd/MM/yyyy"));

        $('#date1').Zebra_DatePicker({
            direction: true,
            pair: $('#date2'),
            format: 'd/m/Y',
            show_clear_date: false
        });
        $('#date2').Zebra_DatePicker({
            direction: 1,
            format: 'd/m/Y',
            show_clear_date: false
        });
    });
</script>

<article id="home">
    <figure class="image-c">
        <a href="./">
            <img src="~/Content/aTourist/temp/featured-a.jpg" alt="Featured" width="1260" height="700"></a> <figcaption>Need a luxury room for your holiday <span>Paris Hilton hotel</span> <span>$450  /  night</span></figcaption>
    </figure>
    <form action="@Url.Action("Search", "Hotel")" method="post" class="form-c" style="width:250px">
        <fieldset>
            <legend>Tìm kiếm nhanh</legend>
            <h3><span>01.</span> Lựa chọn địa điểm ?</h3>
            <select style="width: 100%" class="customSelect" id="" name="City">
                @foreach (var thanhPho in ViewBag.ThanhPhos)
                {
                    <option value="@thanhPho.Value.Trim()">@thanhPho.Text</option>
                }
            </select>
            <h3><span>02.</span> Nhập tên khách sạn ?</h3>
            <p>
                <input type="text" id="" name="HotelName" style="width: 90%; height: 24px; font-size: 12px; padding-left: 20px; border: 1px solid #808080" placeholder="VD: Novotel, Sheraton ..." />
            </p>
            <h3><span>03.</span> Lựa chọn thời gian đặt phòng?</h3>
            <p style="font-size: 12px">
                Từ
                <input id="date1" style="width: 40%; height: 24px" />
                đến
                <input id="date2" style="width: 40%; height: 24px" />
            </p>
            <h3><span>04.</span> Lựa chọn số lượng?</h3>
            <p class="select-a">
                <span>
                    <label for="fce">Số phòng</label>
                    <select id="fce" name="fce">
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                    </select>
                </span>
                <span>
                    <label for="fcf">Số người lớn</label>
                    <select id="fcf" name="fcf">
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                    </select>
                </span>
                <span>
                    <label for="fcg">Số trẻ em</label>
                    <select id="fcg" name="fcg">
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                    </select>
                </span>
            </p>
            <h3><span>05.</span> Sắp xếp theo?</h3>
            <p>
                <select style="width: 100%" class="customSelect" id="" name="sortBy">
                    <option value="CATEGORY">Hạng khách sạn</option>
                    <option value="PRICE">Giá khách sạn</option>
                    <option value="RATING">Đánh giá người dùng</option>
                    <option value="NAME">Tên khách sạn</option>
                </select>
            </p>
            <p class="submit">
                <button type="submit">Tìm kiếm</button>
            </p>
        </fieldset>
    </form>
</article>


