﻿@model ICollection<LapTrinhHienDai_128_178_474.Models.ExternalLogin>

@if (Model.Count > 0)
{
    <h3>Registered external logins</h3>
    <table>
        <tbody>
        @foreach (LapTrinhHienDai_128_178_474.Models.ExternalLogin externalLogin in Model)
        {
            <tr>
                <td>@externalLogin.ProviderDisplayName</td>
                <td>
                    @if (ViewBag.ShowRemoveButton)
                    {
                        using (Html.BeginForm("Disassociate", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <div>
                                @Html.Hidden("provider", externalLogin.Provider)
                                @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                <input type="submit" value="Xóa tài khoản" title="Xóa tài khoản đăng nhập bằng @externalLogin.ProviderDisplayName trên hệ thống" />
                            </div>
                        }
                    }
                    else
                    {
                        @: &nbsp;
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
