﻿@model LapTrinhHienDai_128_178_474.Models.LocalPasswordModel

<p>
    Bạn chưa tạo tài khoản trên hệ thống. Bạn có thể đặt mật khẩu mới ngay bây giờ :
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Đặt mật khẩu" />
    </fieldset>
}
