﻿@model LapTrinhHienDai_128_178_474.Models.RegisterExternalLoginModel
@{
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Đăng nhập bằng @ViewBag.ProviderDisplayName account.</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Association Form</legend>
        <p>
            Bạn đang đăng nhập bằng <strong>@ViewBag.ProviderDisplayName</strong>.
            Điền thêm những thông tin sau để bắt đầu đăng nhập
        </p>
        <hr />
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li class="">
                @Html.LabelFor(m => m.FullName)
                @Html.TextBoxFor(m => m.FullName)
                @Html.ValidationMessageFor(m => m.FullName)
            </li>
            <li class="">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="Đăng kí" />
    </fieldset>
}
@*  *@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
