﻿@model LapTrinhHienDai_128_178_474.Models.LocalPasswordModel
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_oldLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Bạn đang đăng nhập bằng tài khoản của người dùng <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Bạn cũng có thể đăng nhập bằng Facebook hoặc Google+</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
